@import './base.css';

body {
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 14pt;
}

button {
    padding: 25px;
    width: 100%;
    font-size: 24pt;
}

h1 {
    text-align: center;
}